<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Zapatex - Venta</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
  </style>
</head>
<body>
  <h1>Venta Zapatex</h1>

  <label for="buscar">Buscar producto:</label>
  <input type="text" id="buscar" placeholder="Escribe producto..." />

  <div id="sucursales-list"></div>

  <div class="separador"></div>

  <strong>Casa Matriz</strong>
  <div id="casa-matriz"></div>

  <label for="sucursal">Sucursales:</label>
  <select id="sucursal"></select>

  <div id="cantidad-total">
    <div>
      <label for="cantidad">Cantidad:</label>
      <input type="number" id="cantidad" min="1" value="1">
    </div>
    <button id="calcular">Calcular Total USD</button>
  </div>

  <p id="total"></p>

  <button id="vender">Venta</button>

  <div id="alerta-stock"></div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
